<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
</head>
<body>
<h2>Product List</h2>

<p>
    <a th:href="@{/product/create}">Create New Product</a>
</p>
<form th:action="@{/product/search}" method="get">
    <input type="text" name="query" placeholder="Enter product name" />
    <button type="submit">Search</button>
</form>

<ul>
    <li th:each="p : ${products}">
        <strong th:text="${p.name}">Product Name</strong> <br/>

        [ <a th:href="@{/product/{id}(id=${p.id})}">View</a> ]
        [ <a th:href="@{/product/{id}/edit(id=${p.id})}">Edit</a> ]
        [ <a th:href="@{/product/{id}/delete(id=${p.id})}">Delete</a> ]

        <div th:if="${not #lists.isEmpty(p.images)}">
            <span th:each="img, iterStat : ${p.images}"
                  th:if="${iterStat.index == 0}">
                <img th:src="${img.imgUrl}"
                     style="max-width:100px"
                     alt="Product Image"/>
            </span>
        </div>

        <hr/>
    </li>
</ul>

</body>
</html>
